# Ignore virtual environment folders
venv/
env/

# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore environment variables (if you use .env files for secrets)
.env

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store

# Ignore model files
*.pkl

# Ignore all CSV files in the repository
*.csv
